  *{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }

  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: aqua;
    gap: 20px;
  }

  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  h1{
    font-size: 40px;
    color: purple;
  }

  p{
    font-size: 25px;
    color: blue;
  }



  .banner{
    width: 400px;
    height: 250px;
    background-color: cadetblue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .banner h2{
    font-size: 30px;
    color: burlywood;
  }

  .banner p{
    font-size: 15px;
    color: burlywood;
  }


  .banner img{
    width: 70px;
    height: 70px;
  }

 